<?xml version="1.0" encoding="UTF-8" ?>
<wicket:extend xmlns:wicket="http://wicket.apache.org">
    <h4 class="mb-3">Fornecedores</h4>
    <form wicket:id="form">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title mb-3">Dados gerais</h6>
                <div class="row" wicket:id="dadosGerais">
                    <div class="col-12 mb-3">
                        <label wicket:for="razaoSocial" class="form-label required">Razão social *</label>
                        <input wicket:id="razaoSocial"
                               required
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-6 mb-3">
                        <label wicket:for="cnpj" class="form-label">CNPJ *</label>
                        <input wicket:id="cnpj"
                               required
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-6 mb-3">
                        <label wicket:for="emailContato" class="form-label">Email para contato</label>
                        <input wicket:id="emailContato"
                               type="text"
                               class="form-control"
                               placeholder="name@example.com">
                    </div>
                    <div class="col-12 mb-3">
                        <label wicket:for="nomeDoContato" class="form-label">Nome do Contato</label>
                        <textarea wicket:id="nomeDoContato"
                                  rows="3"
                                  class="form-control"></textarea>
                    </div>
                    <div class="col-12 mb-3">
                        <label wicket:for="atividades" class="form-label">Atividades</label>
                        <textarea wicket:id="atividades"
                                  rows="3"
                                  class="form-control"></textarea>
                    </div>
                </div>
                <h6 class="card-title mb-3">Endereço</h6>
                <div class="row" wicket:id="endereco">
                    <div class="col-4 mb-3">
                        <label wicket:for="endereco.cep" class="form-label">CEP</label>
                        <input wicket:id="endereco.cep"
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-8 mb-3">
                        <label wicket:for="endereco.logradouro" class="form-label">Logradouro</label>
                        <input wicket:id="endereco.logradouro"
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-4 mb-3">
                        <label wicket:for="endereco.uf" class="form-label">UF</label>
                        <input wicket:id="endereco.uf"
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-4 mb-3">
                        <label wicket:for="endereco.localidade" class="form-label">Localidade</label>
                        <input wicket:id="endereco.localidade"
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-4 mb-3">
                        <label wicket:for="endereco.bairro" class="form-label">Bairro</label>
                        <input wicket:id="endereco.bairro"
                               type="text"
                               class="form-control">
                    </div>
                    <div class="col-12 mb-3">
                        <label wicket:for="endereco.complemento" class="form-label">Complemento</label>
                        <textarea wicket:id="endereco.complemento"
                                  cols="2"
                                  class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" wicket:id="submit" class="btn btn-primary float-end">Salvar</button>
                <a href="/" class="btn btn-default">Voltar</a>
            </div>
        </div>
    </form>
</wicket:extend>