body {
    --bs-body-bg: rgb(250, 251, 254);
}

.card {
    --bs-body-bg: white;
}

.feedbackPanel {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

header {
    border-bottom: 1px solid #cccccc;
    margin-bottom: 30px;
    padding: 15px;
    background-color: #ffffff;
}